[user]
	email = quentin.basset@ochelys.com
	name = quentin basset
[core]
	excludesfile = /Users/quentinbasset/.gitignore_global
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
